@model List<Product>

<!--<style>
    td, th {
        border: 1px solid #000;
        padding: 0.5rem;
        text-align: center;
    }

    table {
        border-collapse: collapse;
    }

    tbody tr:nth-child(odd) {
        background: #eee;
    }

    caption {
        font-size: 0.8rem;
    }
</style>
-->
<!---<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
        @foreach (var prd in Model)
        {
            <tr>
                <td>@prd.Name</td>
                <td>@prd.Price.ToString()</td>
                <td><a asp-controller="Product" 
                    asp-action="GetOneProduct" 
                    asp-route-id="@prd.Id">#</a></td>
            </tr>
        }
    </thead>
    
</table>--->
<!--<div class="row bg-primary ">
    <div class="col-sm-12 col-md-4 col-lg-3 bg-secondary">Muhammed</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-success">Mücahit</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-secondary">NAS</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-success">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-secondary">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-success">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-secondary">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-success">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-secondary">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-success">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-secondary">...</div>
    <div class="col-sm-12 col-md-4 col-lg-3 bg-success">...</div>
</div> -->

<div class="row ">
    @foreach (var prd in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/products/1.jpg" class="card-img-top" alt="...">

                <div class="card-body">
                    <div>
                        <div class="row">
                            <a asp-controller="Product" asp-action="GetOneProduct" asp-route-id=@prd.Id>@prd.Name</a>
                        </div>
                        <div class="row text-danger">@prd.Price.ToString("c")</div>
                        <div class="row text-danger">@prd.Description</div>
                        <div class="row text-danger">@prd.AtCreated.Value.ToString("d")</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



