@model Category

<div class="row ">
        <div class="card mx-auto" style="width: 18rem;">
        <img src="~/images/products/1.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <div>
                    <div class="row">
                        <a asp-controller="Category" asp-action="GetOneCategory" asp-route-id=@Model.CategoryId>@Model.Name</a>
                    </div>
                    <div class="row text-danger">@Model.Name</div>
                    <div class="row text-danger">@Model.Description</div>

                    <form asp-action="DeleteOneCategory" asp-route-id="@Model.CategoryId" asp-controller="Category" method="post">
                        <button class="btn btn-warning" type="submit">Delete</button>
                    <input type="hidden" id="CategoryId" asp-for="CategoryId">
                    </form>

                    <form asp-action="UpdateOneCategory" asp-route-id="@Model.CategoryId" asp-controller="Category" method="get">
                        <button class="btn btn-secondary" type="submit">Update</button>
                        <input type="hidden" id="CategoryId" asp-for="CategoryId">
                    </form>
                </div>
            </div>
        </div>
</div>
